version: 2

workflows:
  version: 2
  test_any:
    jobs:
      - test

jobs:
  test:
    docker:
      - image: circleci/golang:1.10

    working_directory: /go/src/github.com/roger-russel/fasthttp-router-middleware
    steps:
      - checkout

      - run:
          name: Installing Dep
          command: |
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

      - run:
          name: Installing Dependencies
          command: |
            make packages

      - run:
          name: Running Tests
          command: |
            make test

      - run:
          name: Sending Covarege Report
          command: |
            bash <(curl -s https://codecov.io/bash)

      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: Uploading Code Climate Coverage
          command: |
            ./cc-test-reporter upload-coverage -i /coverage.txt
